/* fix the bottom of navbar */
/*
@font-face {
    font-family: "Fjord One";
    src: url("fonts/FjordOne-Regular.ttf");
}

@font-face {
    font-family: "Yanone Kaffeesatz"; 
    font-style: normal;
    src: url("fonts/YanoneKaffeesatz-Regular.ttf");
}

@font-face {
    font-family: "Yanone Kaffeesatz Bold"; 
    font-style: bold;
    src: url("fonts/YanoneKaffeesatz-Bold.ttf");
}

body {
    font-family: 'Fjord One', serif !important;
}
*/

/*
html, body {
    height: 100%;
}
*/
/*
.sidebar {
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    border-color: white;
    float: left;
}
*/
/*
@media (min-width: 767px) {
    .sidebar {
        height: 100%;
    }
}
*/

/*
.sidebar-brand {
    display: block;
    text-align: center;
}

.sidebar .divider {
    background-color: rgba(0, 0, 0, .12);
    height: 1px;
}

.main {
    width: 100%; 
}
*/
/* override navbar-brand */
/*
.navbar-brand {
    padding: 10px 10px;
}
*/

.order:after {
    /* Downward Triangle ~ Caret */
    content: "\25be";
}
/*
section {
    font-family: "Yanone Kaffeesatz";
    padding-top: 90px;
    padding-bottom: 90px;
    letter-spacing: 2px;
}
*/
/*
section h1, section h3 {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    z-index: 10;
}
*/

/*
#intro {
    background: url("images/web-background.jpg") center/cover no-repeat;

    position: relative;
    width: 100%;
    height: inherit;
    overflow: hidden;
    background-attachment: fixed;

    color: white;
    text-align: center;

    opacity: 0.8;

    z-index: 2;

}
*/

/*
#intro .container {
    vertical-align: middle;
}
*/

/*
#content {
    overflow: auto;
    height: 100%;
}
*/

.selected_account {
    font-weight: bold;
}

.selected_account::after {
    content: "*";
}

/*
.scrollable-menu {
    height: 200px;
    overflow: scroll;
}
*/

.icon-container {
    /*
    margin-bottom: 20px;
    padding: 7px 0;
    */
    font-size: 24px;
}

.icon-container img,
.img-submit {
    width: 100px;
}

.form-inline {
    display: inline-block;
}

