{% extends 'base.html' %}
{% set title = "Bill" %}

{% set errmsg = [] %}

{% block content %}

<div class="mainContent">
<div class="container">
    <h2 class="blue-text italic">About Us</h2>
    <p class="black-text flow-text thin">Founded in 1862, The Hong Kong and China Gas Company Limited (Towngas) was Hong Kong’s first public utility. Today, we are one of the largest energy suppliers in Hong Kong, operating with world-class corporate management and leading-edge business practices. For the past years, Towngas has been growing with Hong Kong, evolving from the simple gas company supplying fuel for street lamps to our current leading position in the energy industry in mainland China.</p>

    <img src="/images/about_us.jpg" />

    <p class="black-text flow-text thin	">

    A major reason for our success has been the reputation we have established over the years, enabling us to win the trust of the people of Hong Kong. We supply town gas to about 1.9 million customers in Hong Kong and provide a full range of gas applications that customers need. Expanding our business horizons in recent years, we have diversified our business into telecommunications, building services, engineering and the new eco-energies, among many others.

    Towngas moved into the gas business in mainland China in 1994. Currently, we have more than 250 projects, including piped city-gas projects, upstream and midstream developments, water and wastewater treatment schemes, natural gas filling stations, as well as new energy exploration and utilisation ventures, across 26 provinces, autonomous regions and municipalities throughout the country.

    </p>
</div>


</div>





{% endblock %}
