{% extends 'base.html' %}
{% set title = "Bill" %}

{% set errmsg = [] %}

{% block content %}

<link rel="stylesheet" href="/sidenav.css" />

{% if 'account_id' in session %}
	{% set bill_params = {} %}

	{% set results = query("Bill b", "b.*, SUM(NVL(b.old_charge, 0) + NVL(b.new_charge, 0)) OVER (PARTITION BY b.Account_id ORDER BY b.bill_date) cumulative_sum", condition = "b.account_id = %d AND MOD(EXTRACT(MONTH FROM bill_date), 2) = 1 " | format(session['account_id']), err_msg=errmsg) %}
	{% set parameters = "" %}
	<!-- sidenav -->
	<ul class="side-nav fixed" id="bill-list">
		<li class="text-center"> 
			<a href="#"><strong>Bill</strong></a>
		</li>
		<li class="divider"></li>
        {% set payments = query("payment", "NVL(SUM(amount), 0) AS total", condition = "account_id = %d" | format(session["account_id"]), err_msg=errmsg) %}
        {% if payments is not none %}
            {% if payments | length == 1 %}
                {% set total_payment = payments[0]["total"] %}
            {% else %}
                payments | length != 1
            {% endif %}
        {% else %}
            payments is none
            {% if errmsg | length > 0 %}
                {{ errmsg | join("\n") }}
            {% else %}
                errmsg | length == 0
            {% endif %}
        {% endif %}
		{% if results is not none %}
			{% if results | length > 0 %}
				{% for bill in results | reverse %}
				<li class="bill_date">
					<a href="#" bill_date="{{ bill['bill_date'] | dateformat(oracle=True) }}">{{ bill['bill_date'] | dateformat }}
                        {% if bill["cumulative_sum"] > total_payment %}
                        {% set total = bill['old_charge'] | default(0, true) + bill['new_charge'] | default(0, true) %}
                            <form class="form-inline" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="business" value="tkk331785@outlook.com" />
                                <input type="hidden" name="cmd" value="_xclick" />
                                <input type="hidden" name="item_name" value="BILL of {{ bill['bill_date'] | dateformat }}" />
                                <input type="hidden" name="amount" value="{{ total }}" />
                                <input type="hidden" name="currency_code" value="HKD" />
                                <input type="image" name="submit" border="0" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" alt="Pay Now" />
                                <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" / >
                            </form>
                            <form class="form-inline" method="POST" action="/payment">
                                <input class="hide" type="number" name="amount" value="{{ total }}" />
                                <div class="icon-container">
                                    <input class="img-submit" type="image" name="submit" src="https://www.logolynx.com/images/logolynx/b0/b03963a1d18613c6a627f2d7ffc0ee9a.png" />
                                </div>
                            </form>
                        {% endif %}
                    </a> 
				</li>
				{% endfor %}

				{% set first_bill = results | reverse | first %}
				{% set first_date = first_bill['bill_date'] | dateformat(oracle=True) %}
				{% do bill_params.update({ 'account_id': session['account_id'], 'date': first_date }) %}
				{% set parameters = "?account_id=%s&date=%s" | format(str(session['account_id']), bill_params['date']) %}
			{% else %}
				<li><a> No Bills Available </a></li>
			{% endif %}
		{% else %}
		<script>
			console.log("Failed to query bills: %s", {{ errmsg | join(";") | tojson | safe }}); 
		</script>
		{% endif %}
	</ul>
	<div id="bill">
		<!-- include on page ONLY.  This will be modified by js -->
		{% include "bill_template.html" %}
	</div>
	<script>
		var account_id = {{ session['account_id'] | tojson | safe }};
		$("#bill-list li.bill_date a").click(function () {
			var href = "/bill_template.html?account_id=" + account_id + "&date=" + $(this).attr("bill_date");
			console.log(href);
			// update #bill
			$("#bill").load(href);
		});
	</script>
{% else %}
        Please first select account.
{% endif %}

{% endblock %}
