<!--
vim: ft=htmldjango
-->


<!-- FIXED ACTION BUTTON -->
<div class="fixed-action-btn">
    <a href="#" class="btn-floating blue btn-large"><i class="large material-icons">mode_edit</i></a>
    <ul>
        <li><a href="#" class="btn-floating blue btn-large"><i class="large material-icons">insert_chart</i></a></li>
        <li><a href="#" class="btn-floating blue btn-large"><i class="large material-icons">format_quote</i></a></li>
        <li><a href="#" class="btn-floating blue btn-large"><i class="large material-icons">publish</i></a></li>
        <li><a href="#" class="btn-floating blue btn-large"><i class="large material-icons">attach_file</i></a></li>
    </ul>
</div>

{% set errmsg = [] %}

{% set admin_perspective = g.authentication() and not admin_showing_user_perspective() %}
<style>
#channels .progress, #active .progress {
    margin: 4px 0 16px 0;
    height: 4px;
    border-radius: 0;
}
#channels td, #active td {
    text-align: left;
    padding: 0 10px 0 0;
    font-size: 13px;
}
#channels .progress-bar, #active .progress-bar {
    opacity: 0.8;
}
.box-content {
    text-align: center;
    overflow: auto;
    color: #999;
    min-height: 130px;
}

.box-content td {
    color: #444;
    font-size: 13px;
}

.box-content td i {
    color: #999;
}

.box {
    padding-left: 0;
    padding-right: 0;
}
.box-content table {
    margin: 0 0 20px 0;
}

.box tr:nth-child(odd) > td:first-child {
    width: 90%;
    font-weight: bold;
}

.box-content {
    overflow: hidden;
    width: auto;
    height: 190px;
}

#channels .progress, #active .progress {
    margin: 4px 0 16px 0;
    height: 4px;
    border-radius: 0;
}

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-bar-info {
    background-color: #5bc0de;
}
.progress-bar-warning {
    background-color: #f0ad4e;
}
.progress-bar-success {
    background-color: #5cb85c;
}
.progress-bar-danger {
    background-color: #d9534f;
}
</style>
{% set accounts = none %}
{% if "account_id" in session %} 
    {% set accounts = query("Account_view", condition="Account_id = %d" | format(session["account_id"]), err_msg=errmsg) %}
{% endif %}

<!--Welcome Message--> 
<h4>Welcome Back, 
{% if admin_perspective %}
    Admin
{% endif %}
{% if accounts is none or accounts | length < 1 %}
    Mr. Demo User  
{% else %}
    {{ accounts[0]["customer_name"] }}
{% endif %}
</h4>
{% if accounts is none %}
    <script>
        {% if errmsg | length > 0 %}
            alert("accounts is none " + {{ errmsg | join("\n") | tojson | safe }});
        {% else %}
            alert("accounts is none but length(errmsg) == 0");
        {% endif %}
    </script>
{% endif %}

{% if admin_perspective %}

<!--First Row-->
<div class="row">
    <!-- cards -->
    <div class="col s4">
        <div class="card blue lighten-5">
            <div class="card-content black-text">
                <span class="card-title">Overview</span>
                <div class="box" id="active">
                    <div class="box-content">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="width: 100%; font-weight: bold">Total Visits</td>
                                    <td style="padding-right: 0; text-align: right; font-weight: bold" class="number-total">65,428</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding-right: 0">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger progress-bar-total" style="width: 100%;"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100%">New Visits</td>
                                    <td style="padding-right: 0; text-align: right; font-weight: bold" class="number-reading">41,341</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding-right: 0">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success progress-bar-reading" style="width: 63%;"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100%">Return Visits</td>
                                    <td style="padding-right: 0; text-align: right; font-weight: bold" class="number-writing">24,087</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding-right: 0">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info progress-bar-writing" style="width: 37%;"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100%">Page Views</td>
                                    <td style="padding-right: 0; text-align: right; font-weight: bold" class="number-idle">94,846</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding-right: 0">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-idle" style="width: 100%;"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- CARDS -->
    <div class="col s8">
        <div class="card blue lighten-5">
            <div class="card-content black-text">
                <span class="card-title">User Overview</span>
                <div style="width: 66%; height: auto;">
                    {% include 'online_user_stat.html' %}
                </div>
                <p>
                    Listing all online user account.
                </p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>

{% else %}

<!--First Row-->
<div class="row">
    <!-- CARDS -->
    <div class="col s12 ">
        <div class="card blue lighten-5">
            <div class="card-content black-text">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="http://lorempixel.com/580/250/nature/1" alt="" />
                            <div class="caption center-align">
                                <h3>Low-carbon Action</h3>
                                <h5 class="light grey-text text-lighten-5">
                                    Keen to customise the most convenient green suggestions for you, we came up with three different sets of low-carbon lifestyle solutions below. The combination of items in these three menus varies slightly. Join us in mapping out a green future!
                                </h5>
                            </div>
                        </li>
                        <li>
                            <img src="http://lorempixel.com/580/250/nature/2" alt="" />
                            <div class="caption left-align">
                                <h3>Climate change</h3>
                                <h5 class="light grey-text text-lighten-5">Our life on earth is comfortable because we're covered by the atmosphere. It protects the earth from cosmic radiation and helps stabilise the environment and our climate.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="http://lorempixel.com/580/250/nature/3" alt="" />
                            <div class="caption right-align">
                                <h3>Low-carbon cooking</h3>
                                <h5 class="light grey-text text-lighten-5"> Here are some green cooking tips that will help you maximise energy efficiency when using town gas while reducing your energy costs.</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}

<!--2nd Row-->
<div class="row">
    <!-- CARDS -->
    <div class="col s6">
        <div class="card blue lighten-5">
            <div class="card-content black-text">
                <span class="card-title">Report Meter Reading</span>
                <p>
                    <form id="report_reading" action="/report_reading" method="GET">
                        {% if g.authentication() and not admin_showing_user_perspective() %}
                            <input type="number" name="account_id" value="{{ session["account_id"] }}" placeholder="Account ID" required />
                            <input type="date" name="date" value="{{ today() }}" placeholder="date" required />
                        {% else %}
                            <input type="number" name="account_id" value="{{ session["account_id"] }}" placeholder="Account ID" class="hide" required />
                            <input type="date" name="date" value="{{ today() }}" placeholder="date" readonly required />
                        {% endif %}
                        <input type="number" name="reading" min="0" placeholder="Current Absolute Reading" required />
                        <button class="btn waves-effect waves-light" type="submit" name="action" value="submit">
                            Submit <i class="material-icons right">send</i>
                        </button>
                    </form>
                    <span id="report_reading_result"></span>
                </p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
    <!-- CARDS -->
    <div class="col s6">
        <div class="card blue lighten-5">
            <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>

<!--5nd Row-->
<div class="row">
    <!-- CARDS -->
    <div class="col s4">
        <div class="card blue lighten-5">
            <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
    <!-- CARDS -->
    <div class="col s4">
        <div class="card blue lighten-5">
            <div class="card-content black-text">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>

    <!-- CARDS -->
    <div class="col s4">
        <div class="card blue lighten-5">
            <div class="card-content black-text">
                <span class="card-title">PieChart</span>
                <!--Piechart-->
                <svg fill="lightblue" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--5-col-desktop">
                    <use xlink:href="#piechart" mask="url(#piemask)" />
                    <text x="0.5" y="0.5" font-size="0.3" fill="navy" text-anchor="middle" dy="0.1">82%</text>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" style="position: fixed; left: -1000px; height: -1000px;">
                    <defs>
                    <mask id="piemask" maskContentUnits="objectBoundingBox">
                    <circle cx=0.5 cy=0.5 r=0.49 fill="white" />
                    <circle cx=0.5 cy=0.5 r=0.40 fill="black" />
                    </mask>
                    <g id="piechart">
                    <circle cx=0.5 cy=0.5 r=0.5 />
                    <path d="M 0.5 0.5 0.5 0 A 0.5 0.5 0 0 1 0.95 0.28 z" stroke="none" fill="rgba(255, 255, 255, 0.75)" />
                    </g>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
</div>
<script>
    "use strict";
    $(document).ready(function(){
        // Init Carousel
        $('.carousel').carousel();

        // Init Carousel Slider
        $('.carousel.carousel-slider').carousel({fullWidth:true});

        // Fire off toast
        //Materialize.toast('Hello World', 3000);

        // Init Slider
        $('.slider').slider();

        // Init Modal
        $('.modal').modal();

        // Init Sidenav
        $('.button-collapse').sideNav();
    });

    $("#report_reading").submit(function (e) {
        e.preventDefault();
        var data = $(this).serialize(),
            url = $(this).attr("action"),
            method = $(this).attr("method");

        $.ajax({
            url: url,
            type: method,
            data: data 
        })
        .done(function (data, textStatus, jqXHR) {
            console.log(data);
            $("#report_reading_result").removeClass().addClass("green-text").html("Successful!");
        })
        .fail(function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR);
            console.log(jqXHR.responseJSON);
            // alert(textStatus + ", " + errorThrown  + ", \n" + jqXHR.responseJSON);
            if ('msg' in jqXHR.responseJSON) {
                $("#report_reading_result").removeClass().addClass("red-text").html(jqXHR.responseJSON.msg);
            } else {
                console.log("'msg' not in jqXHR.responseJSON");
            }
        });
    });
</script>
