{% extends 'base.html' %}

{% set title = "Home" %}

{% block content_without_container %}

{% if not logged_in() %}

<div class="parallax-container">
    <div class="parallax">
        <img src="/images/web-background.jpg" />

    </div>
</div>
{% else %}
<div class="container">
    {% include 'dashboard.html' %}
</div>
{% endif %}

<div class="section white">
	<div class="row container">
		<h2 class="header">Welcome to Town Gas</h2>
		<p class="grey-text text-darken-3 lighten-3">
            The Hong Kong and China Gas Company Limited (Towngas) was Hong Kong’s first public utility. Today, we are one of the largest energy suppliers in Hong Kong.
        </p>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.parallax').parallax();
	});
</script>

{% endblock %}
