<!-- 
    vim: ft=htmldjango
-->
{% from 'macros.html' import error %}
{% set msg = [] %}
{% set customer_msg = [] %}
{% set navigations = query("navigation", orderby="position", condition="bar = 'shared' ", err_msg=msg) %}

{% set account_query_condition = [] %}
{% if g.authentication() %}
    {% do account_query_condition.append("1 = 1") %}
{% endif %}
{% if 'customer_id' in session %}
    {% do account_query_condition.append("customer_id = " + str(session['customer_id'])) %}
{% endif %}
{% set customers = query("Customer", err_msg=msg) %}

{% if account_query_condition | length > 0 %}
    {% set accounts = query("account", condition=(account_query_condition | join(' OR ')), err_msg=msg) %}
{% else %}
    {% do msg.append("account_query_condition | length == 0: neither administrator nor login with proper customer_id") %}
{% endif %}



{% if navigations is not none %}

<style>
        .right-triangle {
            float: right;
        }
        .dropdown-nested {
            overflow-y: visible;
        }
        .dropdown-content .dropdown-content {
            margin-left: 100%;
        }
    </style>



<div class="navbar-fixed">
    <nav class="  light-blue darken-1" id="shared_navbar container">
        <div class="container nav-wrapper">            
            <div class="navbar" id="navbar">
                <!--Nav Item-->
                <ul class="left">
                    {% for navigation in navigations %}
                        <li><a href="/{{ navigation['href'] }}">{{ navigation['caption'] }}</a></li>
                    {% endfor %}
                </ul>
                <!--Nav Account-->
                <ul class="right">
                    {% if 'username' in session and 'display_name' in session %}
                        {# Logged in #}
                        <li class="dropdown right">

                            <a href="#" class="dropdown-button" data-activates="dropdown1" data-beloworigin="true" >
                                <i class=" material-icons left">account_circle</i> &nbsp | &nbsp  {{ str(session['display_name']) }} <i class=" valign-wrapper material-icons right">arrow_drop_down</i>
                            </a>
                            <!--AccountDropdown-->
                            <ul id="dropdown1"class="dropdown-content dropdown-nested"  >
                                {% if g.authentication(err_msg=msg) %}
                                    <li><a href="/admin"> <i class="valign-wrapper large material-icons ">assignment</i>Admin Panel</a></li>
                                    <li class="dropdown">
                                        <a class='dropdown-button' href='#' data-activates='customer_list' data-hover="hover" data-alignment="left"><i class="valign-wrapper large material-icons ">people</i>customer<span class="right-triangle">&#9656;</span></a>
                                        
                                        
                                        
                                    </li>
                                    <!--CustomerDropdown-->
                                            <ul class="dropdown-content " id="customer_list">
                                            {% if customers is not none %}
                                                {% for customer in customers %}
                                                    {% if 'customer_id' in session and customer['id'] == session['customer_id'] %}
                                                        <li><a href="#" customer_id="{{ str(customer['id']) }}" class="selected_customer"> {{ str(customer['id']) }}</a></li>
                                                    {% else %}
                                                        <li><a href="#" customer_id="{{ str(customer['id']) }}"> {{ str(customer['id']) }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <script>
                                                    alert("customers is none");
                                                </script>
                                            {% endif %}
                                            </ul>
                                {% endif %}
                                <!--AccountDropdown-->
                                <li class="dropdown right">
                                    <a class='dropdown-button' href='/accounts.html' data-activates='account_list' data-hover="hover" data-alignment="left"><i class="large material-icons ">account_box</i>Account<span class="right-triangle">&#9656;</span></a> 
                                </li>
                                 <ul class="dropdown-content " id="account_list">
                                        {% if accounts is not none %}
                                            {% for account in accounts %}
                                                {% if 'account_id' in session and account['id'] == session['account_id'] %}
                                                    <li><a href="#" account_id="{{ str(account['id']) }}" class="selected_account"> {{ str(account['id']) }}</a></li>
                                                {% else %}
                                                    <li><a href="#" account_id="{{ str(account['id']) }}"> {{ str(account['id']) }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <script>
                                                alert("accounts is none");
                                            </script>
                                        {% endif %}
                                    </ul>
                                <li><a href="/settings"><i class="valign-wrapper large material-icons left">settings</i>Setting</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout"><i class="valign-wrapper large material-icons left">exit_to_app</i>Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        {# Before Logged in #}
                        <li class="right"><a href="/login"><i class=" valign-wrapper tiny material-icons right">exit_to_app</i>Login</a></li>
                        <li class="right"><a href="/register"><i class="valign-wrapper tiny material-icons right">create</i>Register</a></li>
                    {% endif %}
                </ul>
            </div> <!-- .navbar-collapse -->
        </div> <!-- .container-fluid -->
    </nav>
</div>
    <script>$(".button-collapse").sideNav();</script>
    <script src="/navbar.js"></script>
{% else %}
    {% if msg | length > 0 %}
        {{ error(msg | join("\n")) }}
    {% else %}
        {{ error("navigation is none but msg | length == 0") }}
    {% endif %}
{% endif %}

