<!-- 
    vim: ft=htmldjango
-->
{% from 'macros.html' import error %}
{% set msg = [] %}
{% set customer_msg = [] %}
{% set navigations = query("navigation", orderby="position", condition="bar = 'shared' ", err_msg=msg) %}

{% set account_query_condition = [] %}
{% if g.authentication() %}
    {% do account_query_condition.append("1 = 1") %}
{% endif %}
{% if 'customer_id' in session %}
    {% do account_query_condition.append("customer_id = " + str(session['customer_id'])) %}
{% endif %}
{% set customers = query("Customer", err_msg=msg) %}

{% if account_query_condition | length > 0 %}
    {% set accounts = query("account", condition=(account_query_condition | join(' OR ')), err_msg=msg) %}
{% else %}
    {% do msg.append("account_query_condition | length == 0: neither administrator nor login with proper customer_id") %}
{% endif %}



{% if navigations is not none %}
    <nav class="navbar navbar-default navbar-fixed-top" id="shared_navbar">
        <div class="container">
            <!-- Grouping Brand and Toggle => better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <span><img alt="Brand" src="/images/logo.png" /></span> {{ g.app_name }}
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    {% for navigation in navigations %}
                        <li><a href="/{{ navigation['href'] }}">{{ navigation['caption'] }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if 'username' in session and 'display_name' in session %}
                        {# Logged in #}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span> {{ str(session['display_name']) }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% if g.authentication(err_msg=msg) %}
                                    <li><a href="/admin">Admin Panel <span class="glyphicon glyphicon-book"></span></a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" data-hover="dropdown" aria-expanded="false">Customer <b class="caret"></b></a>
                                        <ul class="dropdown-menu scrollable-menu" id="customer_list">
                                            {% if customers is not none %}
                                                {% for customer in customers %}
                                                    {% if 'customer_id' in session and customer['id'] == session['customer_id'] %}
                                                        <li><a href="#" customer_id="{{ str(customer['id']) }}" class="selected_customer"> {{ str(customer['id']) }}</a></li>
                                                    {% else %}
                                                        <li><a href="#" customer_id="{{ str(customer['id']) }}"> {{ str(customer['id']) }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <script>
                                                    alert("customers is none");
                                                </script>
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endif %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" data-hover="dropdown" aria-expanded="false">Account <b class="caret"></b></a>
                                    <ul class="dropdown-menu scrollable-menu" id="account_list">
                                        {% if accounts is not none %}
                                            {% for account in accounts %}
                                                {% if 'account_id' in session and account['id'] == session['account_id'] %}
                                                    <li><a href="#" account_id="{{ str(account['id']) }}" class="selected_account"> {{ str(account['id']) }}</a></li>
                                                {% else %}
                                                    <li><a href="#" account_id="{{ str(account['id']) }}"> {{ str(account['id']) }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <script>
                                                alert("accounts is none");
                                            </script>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li><a href="/settings">Settings <span class="glyphicon glyphicon-wrench"></span></a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
                            </ul>
                        </li>
                    {% else %}
                        {# Before Logged in #}
                        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        <li><a href="/register"><span class="glyphicon glyphicon-plus"></span> Register</a></li>
                    {% endif %}
                </ul>
            </div> <!-- .navbar-collapse -->
        </div> <!-- .container-fluid -->
    </nav>
    <script src="/navbar.js"></script>
{% else %}
    {% if msg | length > 0 %}
        {{ error(msg | join("\n")) }}
    {% else %}
        {{ error("navigation is none but msg | length == 0") }}
    {% endif %}
{% endif %}

