{% extends 'base.html' %}

{% set title = "Payment" %}
{% set errmsg = [] %}

{% block content %}
<div class="container">
    <form id="payment-form" action="/recieve_payment" method="POST">
        <div class="row">
            <h5>Payment for {{ request.form['item_name'] }}</h5>
            <p>Pay HKD${{ request.form['amount'] }}<p>
        </div>
        <div class="row">
            <label>Accepted Cards</label>
        </div>
        <div class="row">
            <div class="icon-container">
                <img src="https://www.logolynx.com/images/logolynx/b0/b03963a1d18613c6a627f2d7ffc0ee9a.png" />
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="cname">Name on Card</label>
                <input type="text" id="cname" name="cardname" placeholder="John More Doe" />
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="ccnum">Credit card number</label>
                <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444" />
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="expmonth">Exp Month</label>
                <input type="text" id="expmonth" name="expmonth" placeholder="September" />
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <label for="expyear">Exp Year</label>
                <input type="text" id="expyear" name="expyear" placeholder="2018">
            </div>
            <div class="input-field col s6">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" placeholder="352">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="amount">Amount</label>
                <input type="number" id="amount" name="amount" value="{{ amount }}" placeholder="Amount" readonly />
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn waves-effect waves-light" name="action" value="submit">
                Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
    <div id="results">
    </div>
</div>
<script>
    $("#payment-form").submit(function (e) {
        e.preventDefault();
        var data = $(this).serialize(),
            url = $(this).attr("action"),
            method = $(this).attr("method");

        $.ajax({
            url: url,
            type: method,
            data: data 
        })
        .done(function (data, textStatus, jqXHR) {
            console.log(data);
            $("#result").removeClass().addClass("green-text").html("Successful!");
        })
        .fail(function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR);
            console.log(jqXHR.responseJSON);
            if ('msg' in jqXHR.responseJSON) {
                $("#result").removeClass().addClass("red-text").html(jqXHR.responseJSON.msg);
            } else {
                console.log("'msg' not in jqXHR.responseJSON");
            }
        });
    });
</script>
{% endblock %}

