{% extends 'base.html' %}

{% set title = "Register" %}

{% block content %}
<script src="js/validid.js"></script>


<!-- Login Page -->
<div class="container">
    <br><br>
    <div class="card blue lighten-5">
        <div class="container">
            <div class="row">
                <form class="col s12" role="form" data-toggle="validator" method="post" action="register">
                    <h1 class="light">Register</h1><hr> 
                        <!-- Name Line -->

                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input type="text" class="validate" name="given_name" >
                                            <label for="given_name" class="control-label"  data-error="Please insert Given Name" data-success="Complet" >Given Name</label>
                                        </div>
                                        <div class="form-group input-field col s6">
                                            <input type="text" class="form-control validate" name="last_name" required>
                                            <label for="last_name" class="control-label" data-error="Please insert Last Name"data-success="Complet">Last Name</label>
                                        </div>
                                    </div>
                        <!-- HKID Line -->

                                    <div class="row">
                                        <div class="form-group input-field  col s6">
                                            <input data-hkid class="form-control validate" name="HKID"  data-table="customer" data-column="HKID" type="text" required >
                                            <label for="HKID" data-error="Please insert HKID" data-success="Correct HKID">Hong Kong ID</label>
                                        </div>
                                    </div>
                        <!-- Username Line -->
                                
                                    <div class="form-group input-field">
                                        <label for="username" class="control-label"  data-error="This user name are not available" data-success="right">Username</label>
                                        <input type="text" class="form-control" id="username" name="username"  data-check_exists="" data-table="login" data-column="username" required >
                                    </div>
                        <!-- Password Line -->
                               
                                    <div class="row">
                                        <div class="form-group input-field  col s6">
                                            <input type="password" class="form-control validate" data-minlength="8" id="password" name="password"  required >
                                            <label for="password"  date-error="At least 8 digit" data-success="right">Password</label> 
                                        </div>
                                        <div class="form-group input-field  col s6">
                                            <input type="password" class="form-control validate" id="passwordconfirm" name="passwordconfirm" data-match="#password" data-match-error="Confirm must match Password!"  required >
                                            <label for="passwordconfirm"  data-error="Please insert same password" data-success="right"> Confirm Password</label>
                                        </div>
                                    </div>              
                        <!-- Email Line -->

                                    <div class=" input-field">
                                        <label for="email" class="control-label "  data-error="Please check your email address" data-success="right">Email</label>
                                        <input type="email" class="form-control validate" id="email" name="email"  data-check_exists="" data-table="customer" data-column="email" required >      
                                    </div>
                        <!-- Address Box -->

                                    <div class=" input-field">
                                        <label for="address" class="control-label "  data-error="Please insert address"data-success="right">Address</label>
                                        <textarea class="form-control materialize-textarea validate" maxlength="256" name="address" required></textarea> 
                                    </div>
                        <!-- Submit Button -->
                                    <button type="submit" class="waves-effect waves-light btn">Submit
                                    </button><br><br>
                </form>
            </div>  
        </div>
    </div>
    <div class="">{% include 'msg.html' %}</div>             
</div>

<script src="js/validator.js"></script>
<script>
    $.fn.validator.Constructor.INPUT_SELECTOR = ':input:not([type="hidden"], [type="submit"], [type="reset"], button)';
</script>
{% endblock %}
