<!--
    vim: ft=htmldjango
-->
{% set msg = [] %}
{% set results = query("navigation", orderby="position", condition = "bar = 'settings'", err_msg=msg) %}

{% if results is not none %}

<style type="text/css">
    header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
          
</style>

<ul id="slide-out" class="side-nav fixed">
                <li class="text-center"> 
                    <a href="."><strong>Settings</strong></a>
                </li>
                <li class="divider"></li>
                {% for item in results %}
                <li>
                    <a href="{{ item['href'] }}">{{ item['caption'] }}</a>
                </li>
                {% endfor %}
            </ul>




   
{% else %}
    {% if msg | length > 0 %}
        {{ macros.error("Exception: " + str(msg[0])) }}
    {% else %}
        {{ macros.error("results is None") }}
    {% endif %}
{% endif %}

